
<!-- Top Spacer 1/5th of page -->
<div class="h-3/10 w-full">
  <div class="text-5xl text-center text-black pt-30" id="title">The Paralegal's Sidekick</div>
</div>
<!-- Main Content 3/5th of page -->
<div class="h-2/5 w-full flex flex-row">
  <!-- Labels -->
  <div class="grid grid-rows-2 gap-2 w-1/2 h-full">
    <div class="p-4 text-black text-2xl text-right pt-20 choose" id="choose-form">Choose Form</div>
    <div class="p-4 text-black text-2xl text-right choose" id="choose-profile">Choose Existing Client Profile</div>
  </div>


  <!-- Dropdown Selects -->
  <div class="h-full w-1/2 flex flex-col" [formGroup]="clientAndFormSelect">
    <div class="h-1/2 w-full">
      <mat-form-field class="pl-40 pt-15">
        <mat-select (selectionChange)="onFormChange($event)" formControlName="formSelect">
          @for (form of forms; track form) {
            <mat-option [value]="form.formName">{{form.formName}}</mat-option>
          }
        </mat-select>
      </mat-form-field> 
    </div>
    <div class="h-1/2 w-full">
      <mat-form-field class="pl-40">
        <mat-select (selectionChange)="onClientChange($event)" formControlName="clientSelect">
          @for (client of this.returnedClients; track client) {
            <mat-option [value]="client.name">{{client.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<!-- Bottom Spacer 1/5th of page -->
<div class="h-3/10 w-full text-center flex flex-row">

  <div class="grid grid-cols-4 gap-2 w-full h-full">
    <div class="p-4"></div>
    <button matButton="filled" (click)="proceedToEditProfiles()">
      <h1 class="md:text-lg lg:text-2xl font-light">Edit Client Profiles</h1>
    </button>

    <button matButton="filled" class="pl-30" (click)="proceedToForm()">
      <h1 class="md:text-lg lg:text-2xl font-light">Fill Out Form</h1>
    </button>


    <div class="p-4"></div>
  </div>

</div>